// Navigation Styles here
.static-nav {
    width: 100%;
    height: 90px;

    .flexDisplay(row, space-between, center);

    /* nav border patch */
    border-bottom: 2px dashed @navigation-border;

    nav {
        width: 40%;
        height: 100%;
        .flexDisplay(row, space-around, center);

        a {
            text-decoration: none;
            font-size: 1.6rem;
            color: @nav-color;
        }
    }
}

.header-content {
    width: 100%;
    height: 35%;
    padding-bottom: 5px; 

    border-bottom: 2px dashed @navigation-border;

    .flexDisplay(column, space-around, flex-end);

    .header-text {
        h2 {
            padding-top: 20px;
        }
    }
}